Python 3.8 ou superior
Certifique-se de que o Python está instalado e configurado no PATH do sistema.

Sistema Operacional:
Windows, Linux ou macOS.

tkinter
pygame
mutagen
Pillow

No terminal, execute:
python main.py